!!Esquema de cores

! special
*.foreground:   #d6cbdc
*.background:   #110a13
*.cursorColor:  #d6cbdc

! black
*.color0:       #1b131e
*.color8:       #689cbe

! red
*.color1:       #251b2a
*.color9:       #15d7ff

! green
*.color2:       #392b3f
*.color10:      #6691ad

! yellow
*.color3:       #54405d
*.color11:      #da527d

! blue
*.color4:       #765c82
*.color12:      #9171e4

! magenta
*.color5:       #9c7eaa
*.color13:      #ef6d99

! cyan
*.color6:       #bfacc8
*.color14:      #ceb650

! white
*.color7:       #51f76e
*.color15:      #e357d1


!! Aparência e configurações

URxvt.font: xft:Noto Sans Mono:style=Medium:size=8
URxvt.boldFont: xft:Noto Sans Mono:style=Bold:size=8
URxvt.italicFont: xft:Noto Sans Mono:style=Italic:size=8
URxvt.boldItalicfont: xft:Noto Sans Mono:style=Bold Italic:size=8
URxvt.letterSpace: 0
URxvt.lineSpace: -1
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false
